In [14]:
import pandas as pd
import numpy as np

In [15]:
# read the csv file
file_path = "../data/raw-data/gender/gender index data/Gender_Inequality_Index.csv"
# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)
df.head()

,HDI rank,Country,Gender Inequality Index.Value,Gender Inequality Index.Rank,"Maternal mortality ratio(deaths per 100,000 live births)","Adolescent birth rate(births per 1,000 women ages 15–19)",Share of seats in parliament(% held by women),Population with at least some secondary education.Female,Population with at least some secondary education.Male,Labour force participation rate .Female,Labour force participation rate .Male
0,NaN,Year,2021,2021,2017,2021.0,2021,2021,2021,2021,2021
1,1.0,Switzerland,0.018,3,5,2.2,39.8,96.9,97.5,61.7,72.7
2,2.0,Norway,0.016,2,2,2.3,45.0,99.1,99.3,60.3,72.0
3,3.0,Iceland,0.043,8,4,5.4,47.6,99.8,99.7,61.7,70.5
4,4.0,"Hong Kong, China (SAR)",..,..,..,1.6,..,77.1,83.4,53.5,65.8

In [20]:
# clean the data
# check nan values
df.isnull().sum()

# fill nan values as Not known
df.fillna("Not known", inplace=True)

# remove year row
df.drop([0], inplace=True)

# check for column names
df.columns

# Rename the columns using the rename() method
df = df.rename(columns={
    'HDI rank': 'HDI Rank',
    'Gender Inequality Index.Value': 'Gender Inequality Index Value',
    'Gender Inequality Index.Rank': 'Gender Inequality Index Rank',
    'Maternal mortality ratio(deaths per 100,000 live births)': 'Maternal Mortality Ratio',
    'Adolescent birth rate(births per 1,000 women ages 15–19)': 'Adolescent Birth Rate',
    'Share of seats in parliament(% held by women)': 'Women Share of Seats in Parliament ',
    'Population with at least some secondary education.Female': 'Female Population with Some Secondary Education',
    'Population with at least some secondary education.Male': 'Male Population with Some Secondary Education',
    'Labour force participation rate .Female': ' Female Labour Force Participation Rate',
    'Labour force participation rate .Male': 'Male Labour Force Participation Rate'
})

df.head()

,HDI Rank,Country,Gender Inequality Index Value,Gender Inequality Index Rank,Maternal Mortality Ratio,Adolescent Birth Rate,Women Share of Seats in Parliament,Female Population with Some Secondary Education,Male Population with Some Secondary Education,Female Labour Force Participation Rate,Male Labour Force Participation Rate
1,1.0,Switzerland,0.018,3,5,2.2,39.8,96.9,97.5,61.7,72.7
2,2.0,Norway,0.016,2,2,2.3,45.0,99.1,99.3,60.3,72.0
3,3.0,Iceland,0.043,8,4,5.4,47.6,99.8,99.7,61.7,70.5
4,4.0,"Hong Kong, China (SAR)",..,..,..,1.6,..,77.1,83.4,53.5,65.8
5,5.0,Australia,0.073,19,6,8.1,37.9,94.6,94.4,61.1,70.5

In [25]:
# save to csv file 
df.to_csv('../data/clean_data/clean_gender_inequality_index.csv', index=False)